<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="fas fa-cubes"></i>
                <p>Home</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Diseases" asp-action="Index">
                <i class="fas fa-mail-bulk"></i>
                <p>Diseases</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Allergies" asp-action="Index">
                <i class="fas fa-print"></i>
                <p>Allergies</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Ncds" asp-action="Index">
                <i class="far fa-address-book"></i>
                <p>Ncds</p>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Patients" asp-action="Index">
                <i class="fas fa-user-circle"></i>
                <p>Patients</p>
            </a>
        </li>
    </ul>
</nav>