<nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Diseases" asp-action="Index">
                <i class="fas fa-disease"></i>
                <p>Diseases</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Allergies" asp-action="Index">
                <i class="fas fa-allergies"></i>
                <p>Allergies</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Ncds" asp-action="Index">
                <i class="fas fa-head-side-virus"></i>
                <p>NCDs</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Patients" asp-action="Index">
                <i class="fas fa-user-injured"></i>
                <p>Patients</p>
            </a>
        </li>
    </ul>
</nav>